Avitabile_AGB_Map.zip
src/client_secrets.json
node_modules
Avitabile_AGB_Map
src/__pycache__/
src/cred
key
server/files/
src/files/
.vscode/
src/Avitabile_AGB_Map.tif
*.pyo
*.pyc
server/db.sqlite3
server/app/migrations
server/util.py
server/hashes
